@import 'tailwindcss';
@plugin '@midudev/tailwind-animations';

@theme {
  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

:root {
  --text: #0e1511;
  --background: #f9fbfa;
  --primary: #6aa084;
  --secondary: #b1c6cd;
  --accent: #8da5b4;
}

.dark {
  --text: #eaf1ed;
  --background: #040605;
  --primary: #5f9579;
  --secondary: #32474e;
  --accent: #4b6372;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}
